{{#feed}}
	<section class="entries">
	<h2 class="ui header">
		<i class="docs icon"></i>
		<div class="content">
			{{title}}
			<div class="sub header">{{description}}</div>
		</div>
	</h2>
	<a class="superfeeds action" data-action="deleteFeed" data-p1="{{../opts.url}}">Delete Feed</a>
	<div class="ui divider"></div>
	{{#entries}}
		<article class="entry" data-id="{{id}}">
			<h3><a href="{{link}}" target="_blank">{{title}}</a></h3>
			<div class="ui two column grid">
				<div class="column">
					<p class="time">{{publishedDate}}</p>
				</div>
				<div class="column">

					<div class="ui buttons">
						<a href="#" class="read ui button toggle {{#if read}}active{{/if}} superfeed action" data-action="toggleFlag" data-p2="read" ><i class="mail icon"></i></a>
						<a href="#" class="favourite ui button toggle {{#if fav}}active{{/if}} superfeed action" data-action="toggleFlag" data-p2="fav"> <i class="like icon"></i></a>
					</div>
				</div>
			</div>
			
			<div class="body">
			{{#if content}}
				{{{content}}}
			{{else}}
				{{{description}}}
			{{/if}}
			</div>
		</article>
		<div class="ui divider"></div>
	{{/entries}}
	{{^entries}}
		<i class="massive cancel icon"></i>
		<p>There are no items for this feed.</p>
	{{/entries}}
	</section>
{{/feed}}